{% extends "bootstrap/base.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block content %}
  <script type="text/javascript" src="{{ url_for('bower.static',filename="jquery/dist/jquery.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('bower.static',filename="moment/min/moment.min.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('bower.static',filename="eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js") }}"></script>
  <link rel="stylesheet" href="{{ url_for("bower.static",filename="bootstrap/dist/css/bootstrap.min.css") }}" />
  <link rel="stylesheet" href="{{ url_for("bower.static",filename="eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css") }}" />
<script type="text/javascript">
            $(function () {
                $('.datetimepicker').datetimepicker({format:"YYYY-MM-DD HH:MM:SS"});
            });
        </script>
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Add Problem Set</h1>
        <div class="well">
            <form action="{{ url_for('add_problemset') }}" method="POST" name="add_problemset_form">
                {{ add_problemset_form.csrf_token }}
                {{ render_field_with_errors(add_problemset_form.active) }}
                {{ render_field_with_errors(add_problemset_form.ipynb) }}
                {{ add_problemset_form.deadline(class="datetimepicker") }}
                    {% if add_problemset_form.deadline.errors %}
      <ul>
      {% for error in add_problemset_form.deadline.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
                {{ render_field_with_errors(add_problemset_form.course) }}
                {{ render_field_with_errors(add_problemset_form.name) }}
                {{ render_field_with_errors(add_problemset_form.description) }}
<input type="submit" value="Go">
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}