{% extends "bootstrap/base.html" %}
{% block content %}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Задания</h1>
        {% for course in mycourses %}
            {% if course['active'] %}
            <h2>{{ course['description'] }}</h2>
            <table class="table table-striped table-bordered table-hove">
                <tr>
                    <th>
                        Задание
                    </th>
                    <th>Срок сдачи</th>
                    <th>Загруженные работы</th>
                </tr>
                {% for assignment in course['assignments'] %}
                {% if assignemnt['data'].active %}
                    <tr>
                        <td>
                            {{ assignment['data'].description }} [<a href="{{ assignment['data'].ipynb_link() }}">ipynb</a>]
                        </td>
                        <td>
                            {{ assignment['data'].deadline.strftime("%Y-%m-%d %H:%M:%S") }}
                        </td>
                        <td>
                        {% if assignment['submissions'] %}

                        <ul>
                            {% for submission in assignment['submissions'] %}
                            <li>
                                <a href="{{ url_for("get_submission_content", id=submission.id) }}">
                                #{{ submission.id }}
                                </a> ({{ submission.timestamp }})
                                {% if submission.autograded_status == 'autograded' %}
                                <br/><a href="{{ url_for("get_feedback", id=submission.id) }}">Результаты проверки</a>.
                                {% elif  submission.autograded_status == 'processing' %}
                                <br/>Идёт автоматическая проверка (обновите страницу через некоторое время).
                                {% elif submission.autograded_status == 'failed' %}
                                <br/>ОШИБКА: {{ submission.autograded_log }}
                                {% elif submission.autograded_status == 'late' %}
                                <br/>Проверка не производится: работа сдана после дедлайна. Пожалуйста, обратитесь к преподавателю, если считаете, что работа всё равно должна быть проверена.
                                {% elif submission.autograded_status == 'sent-to-grading' %}
                                <br/>Работа ожидает автоматической проверки, но все роботы-проверяльщики заняты. Обновите страницу через некоторое время.
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                            <a href="{{ url_for("submit_assignment", id=assignment['data'].id) }}">загрузить работу</a>

                        </td>

                    </tr>
                {% endif %}
                {% endfor %}
            </table>
            {% endif %}
        {% endfor %}
        </div>
</div>

<p>
<a href="{{ url_for('security.logout') }}">Выйти из системы</a>
    </p>
{% endblock %}