{% extends "bootstrap/base.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block content %}
<div class="row-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Peer Review Assignment</h1>

        <h2>{{ assignment.description }}</h2>
        {% if assignment.deadline is not none %}
        <p>Deadline: {{ assignment.deadline.strftime("%Y-%m-%d %H:%M:%S") }}</p>
        {% endif %}
        {% if assignment.url is not none %}
            <p><a href="{{ assignment.url }}">Additional comments</a></p>
        {% endif %}

        <div class="well">
            <h3>Criteria</h3>
                {% for criterion in assignment.grading_criteria %}
                    <h4>{{ loop.index }}</h4>
                    <p>{{ criterion.description }}</p>
                    <p><em>Minimum grade: {{ criterion.minimum }},
                        maximum grade: {{ criterion.maximum }}</em></p>
                    <hr>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
